h1{color: #ff4d4d;font-family: "Comic Sans MS";}
h3{background-color: #33d6ff; color: black;text-align: center; font-size: 35px; font-family: papyrus;}
p{background-color: #ffff99; color: black;border: 6px dashed #ff1a1a;text-align: center; font-size: 30px; margin-right: 50px; margin-left: 50px;}
h2{color: #3366cc;font-size: 32px; font-family: "Berlin Sans FB";}
body{
background-image: url(https://barcelona.capribyfraser.com/d/capribarcelona/media/Images/__thumbs_1050_567_crop/shawnmendes.jpg);}
